#container{
    background-color: #dcc7aa !important;
    bottom: 0 !important;
    width: 17% !important;
    height:50%;
    border-radius: 0px 0px 0px 0px !important;
    z-index: 999999999999999999999999;
    position: fixed !important;
    /* box-shadow:  0 -17px 52px 0 !important; */
    box-shadow:  0 0 0 0 !important;
    /* height: 15% !important; */
    overflow: auto !important;
    visibility: visible !important;
}

#heading{
    text-align:center !important;
    color: #101357 !important;
    font-weight: bold !important;
    font-family: monospace !important;
    font-size: 1.8em !important;
    visibility: visible !important;
}

#inner-content{
    margin: 0 !important;
    padding: 0 !important;
    width:100% !important;
    overflow: auto !important;
    white-space: nowrap !important;
    font-family: monospace !important; 
    font-weight: bold !important;
    text-align:center;
    visibility: visible !important;
    color: #101357
}